
        .colblack {
          color: #333333;
      }

      .coldarkgray {
          color: #666666;
      }

      .colgray {
          color: #999999;
      }

      .collightgray {
          color: #EEEEEE;
      }

      .hidden { display:none; }

      body {
          display: flex;
          flex-direction: column;
          min-height: 100vh;
          height: auto;
          background-color: #fff;
          padding: 0;
          border-collapse: collapse;
          margin: 0;
          width: 100%;
          font-family: Arial, Helvetica, sans-serif;
      }

      header {
          display: block;
          height: 56px;
          background-color: #FFE600;
          border: 0;
          position: relative;
          background-image: none;
          font-weight: 400;
          box-sizing: border-box;
          user-select: none;
          width: 100%;
      }

      header .header_cont {
          height: auto;
          max-width: 980px;
          position: relative;
          box-sizing: border-box;
          display: flex;
          margin: 0 auto;
      }

      header .header_cont img {
          padding: 10px 0px;
      }

      .criterio {
          background-color: #fff;
          width: 100%;
          margin: 9px 0px 9px 26px;
          border-radius: 4px;
          flex-direction: row;
          display: flex;            
      }

      .criterio input {
          margin: auto;
          margin-left: auto;
          font-size: 12pt;
          color: #808080;
          width: 100%;
          margin-left: 10px;
          background-color: transparent;
          padding: 4px;
          border: none;
          outline: none;
      }
      .criterio input:hover {
          outline: none;
          border: none;
      }
      .criterio input:active {
          outline: none;
          border: none;
      }

      .criterio input:focus {
          outline: none;
          border: none;
      }

      .criterio .btn {
          width: 44px;
          color: #404040;
          font-size: 9pt;
          margin: 0px;
          user-select: none;
          float: left;
          display: table;
          border-radius: 0px 3px 3px 0px;
          background-color: #EEEEEE;
          padding: 10px;
          height: 100%;
      }

      .criterio .btn:hover {
          background-color: #DDDDDD;
          cursor: pointer;
      }

      .criterio .btn:active {
          background-color: #B0B0B0;
          opacity: 0.5;
          cursor: pointer;
      }

      .criterio .btn img { 
          padding: 10px 0px 0px 12px;
      }

      main {
          background-color: #EEEEEE;
          height: 100%; 
          padding: 0px 0px 40px 0px;           
      }

      .tree_cont {
          max-width: 980px;
          position: relative;
          box-sizing: border-box;
          display: block;
          margin: 0 auto;
      }

      .tree {
          list-style-type: none;
          display: flex;
          margin: 160x 0px;
          font-size: 11pt;
          padding: 0px;
      }

      .tree svg {
        margin: 0 4px;
        stroke-width: 1.3;
        width: .8em;
        height: .8em;
        transform: translateY(1px);
        stroke: currentColor;            
    }

      .tree .lastitem {
          font-weight: 600;
      }

      .tree .tree_sep {
          padding: 0px 4px;
      }

      .data_cont {
          background-color: #ffffff;
          width: 100%;
          max-width: 980px;
          box-sizing: border-box;
          display: block;
          margin: 0 auto;
          padding: 4px;
          border-radius: 4px;
          height: 100%;
      }

      .btn_act {
          color: #ffffff;
          background-color: #3483fa;
          padding: 10px 80px; 
          font-size: 13p;
          font-weight: 100;
          border-radius: 8px;
          text-align: center;
          margin-top: 32px;
          margin-right: 32px;
          user-select: none;
      }

      .btn_act:hover {
          background-color: #2968C8;
          cursor: pointer;
      }

      .btn_act:active {
          background-color: #1F4E96;
          cursor: pointer;
      }

      .tile {
        height: 190px;
        margin: 16px;
        display: flex;
        flex-direction: row;
    }

    .tile .pic {
        border-radius: 4px;
        object-fit: contain;
    }

    .tile .pic:hover {
      cursor: pointer;
    }

    .tile .pan {
        flex-grow: 2;
        margin-left: 16px;
        margin-right: 40px;
    }

    .tile .tile_price {
      font-size: 24px;
      margin-top: 16px;
  }

  .tile .tile_price img {
      padding-left: 4px;
      padding: 2px 0px 0px 3px;
  }

  .tile .tile_desc {
      font-size: 18px;
      margin-top: 32px;
  }
  
  .tile .tile_desc:hover {
    cursor: pointer;
  }

  .tile .pan2 {
      min-width: 180px;
  }

  .tile .tile_from {
      font-size: 12px;
      color: #666;
      margin: 41px 0px 0px 14px;
  }

  .tile_div {
    border-bottom: 1px solid #EEE;
    margin: 2px 12px;
}


.item {
  background-color: #ffffff;
  border-radius: 4px;
  padding: 10px;
  display: flex;
}

.item .item_col1 {
  flex-grow: 2;            
}

.item .item_col1 .item_col1_pan {
  margin-left: 32px;
}

.item .item_col1 img {
  border-radius: 4px;
  object-fit: contain;
}

.item .item_col2 {
  margin: 0px;
  width: 312px;
}

.item .item_title {
  font-size: 28px;
  margin-top: 32px;
}

.item .item_desc {
  margin-top: 32px;
  font-size: 16px;
}

.item_obs {
  font-size: 14px;
  margin-top: 32px;
}

.item_title {
  font-size: 24px;
  margin-top: 16px;
  font-weight: 600;
}

.item_price {
  font-size: 46px;
  margin-top: 32px;
}

.item_price_dec {
  font-size: 12pt;
  line-height: 1.4em;
  font-size: .5em;
  vertical-align: text-top;
}